/* Colors (from hot to cold):

rgb(216,82,45)
rgb(217,97,45)
rgb(216,138,53)
rgb(217,170,78)
rgb(229,200,100)
rgb(225,209,160)
rgb(223,219,220)
rgb(172,203,206)
rgb(95,187,208)
rgb(74,184,201)
rgb(0,162,200)
rgb(0,142,195)
rgb(0,119,185)
rgb(0,101,183)

*/

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.color{
  width: 100%;
  height: calc(100vh / 14);
  background: #aaa;
  transition: height 1s;
}

.color.active{
  height: calc(((100vh - 100px) / 14) + 100px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  transition: font-size 1s;
  transition: height 1s;
}
.color.active img{
  height: 10vh;
  margin-right: 20px;
  display: none;
}
.color.inactive{
  height: calc((100vh - 100px) / 14);
}

.temp-text{
  opacity: 0;
  animation: 1s fadeIn .3s forwards;
  cursor: pointer;
}

.wunderground-credits{
  box-sizing: border-box;
  height: 40px;
  width: 155px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  text-align: center;
  border-left: 2px solid rgb(229,200,100);
}
.wunderground-credits span{
  font-size: 9px;
  display: block;
  padding: 1px 5px;
  color: #333;
}
.wunderground-img{
  width: 90px;  
}

.dribble-credits{
  box-sizing: border-box;
  height: 40px;
  width: 90px;
  position: fixed;
  bottom: 0;
  right: 155px;
  background: white;
  text-align: center;
}
.dribble-credits img{
  height: 60px;
  margin-top: -10px;
}

.no-select{
  -webkit-user-select: none; 
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;          
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.temp-1{
  background: rgb(216,82,45);
}
.temp-2{
  background: rgb(217,97,45);
}
.temp-3{
  background: rgb(216,138,53);
}
.temp-4{
  background: rgb(217,170,78);
}
.temp-5{
  background: rgb(229,200,100);
}
.temp-6{
  background: rgb(225,209,160);
}
.temp-7{
  background: rgb(223,219,220);
}
.temp-8{
  background: rgb(172,203,206);
}
.temp-9{
  background: rgb(95,187,208);
}
.temp-10{
  background: rgb(74,184,201);
}
.temp-11{
  background: rgb(0,162,200);
}
.temp-12{
  background: rgb(0,142,195);
}
.temp-13{
  background: rgb(0,119,185);
}
.temp-14{
  background: rgb(0,101,183);
}